[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "decompositionLE"]
	path = decompositionLE
	url = https://github.com/herts-phei/decompositionle
